
body{
    background-repeat: no-repeat;
    background-size: 100%;

}
.header { 
    text-align: center;
   

}
.create_container{
    width: 60%;
    margin-left:20%;
      
}
.create_input{
    padding: 10px 5px;
    font-size: 15px;
    width: 80%;
    margin-bottom: 5px;
    
}

.create_button{
    padding: 12px 20px;
    background-color: #3BA4C7;;
    border: 2px solid #ababac;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
}
.create_button:active{
    border: 1px solid #cc3300;
    box-shadow: 2px 2px 5px 3px #FCE4EC;
}


.book_container{
    padding: 30px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
.book_item{
    background-color: white;
    opacity: 80%;
    border:1px solid gray;
    border-radius: 5px;
    width: 24%;
    padding:10px 15px ;
    margin-bottom: 20px;
}
.book_item.fav{
    background-color: #9bc86d;
    border: 2px solid #6afab2;
}
.buttons{
    padding: 5px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    
}

button{
    padding: 12px 20px;
    text-align:center; 
    font-weight:bold; 
    background-color:#3BA4C7; 
    border: 1px solid#ababac;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
}
a{
    color:white;
    text-decoration: none;

}
.detail{
    background-color: white;
    opacity: 70%;
    border:1px solid gray;
    border-radius: 5px;
    width: 50%;
    padding:10px 15px ;
    margin-bottom: 20px;
    font: 1.5em sans-serif;
}
h3{
    text-align: center;
}


