{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/book.css' %}" />
    <title>Document</title>
</head>
<body  background= "{% static 'item/image_2.jpg' %}" > 
    <h1> BOOKS</h1>
    <div class="create_container">
        <form action="{% url 'add-book' %}" method="POST">
        {% csrf_token %}
            <input class= "create_input" type="text" placeholder="Введите названия книги" 
            name = "title" /> <br>
            <input class= "create_input" type="text" placeholder="Подзаголовок"  
            name = "subtitle" />  <br>
            <input class= "create_input" type="text" placeholder="Введите описание" 
            name = "description" />  <br>
            <input class= "create_input" type="text" placeholder="Жанр" 
            name = "genre" />  <br>
            <input class= "create_input" type="text" placeholder="Автор" 
            name = "author" />  <br>
            <input class= "create_input" type="datetime-local" placeholder="Год выпуска" 
            name = "year" />  <br>
            <input class= "create_input" type="datetime-local" placeholder="Дата поиска" 
            name = "date" />  <br>
            <input class= "create_input" type="number" placeholder="Цена" 
            name = "price" />  <br>
            
        <button class= create_button> Добавить книгу </button>
    </form>
    </div>
    
    <div class="book_container">
    {% for books in books %}
    
        <div class="book_item">
            <H3>{{books.title}}</H3>
            <p>{{books.author}} </p>
            <H4>{{books.price}}</H4>
            <div class= "action_buttons">
                <button class="fav_book_but"> <a href="{% url 'delete-book' books.id %}"> В Избранное </a> </button>
            <button class="del_book_but"><a href="{% url 'delete-book' books.id %}"> <img src="https://img.icons8.com/material-rounded/50/000000/delete.png"/> </a> </button> 
            <button class="det_book_but"><a href="{% url 'details' books.id %}"> Details </a> </button>
            </div>
        </div> 
        {% endfor %}
    </div>
</body>
</html>