{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/book.css' %}" />
    <title>Document</title>
</head>
<body background="{% static 'item/img_5.jpg'%}">  
    <div class="detail">
        <H3>{{books_object.title}}</H3>
        <H5>{{books_object.subtitle}}</H5>
        <p>{{books_object.description}}</p>
        <p>{{books_object.genre}} </p>
        <p>{{books_object.author}} </p>
        <p>{{books_object.year}} </p>
        <p>{{books_object.date}} </p>
        <H4>{{books_object.price}}</H4> 
    </div>
         <button class="det_book_but"><a href="{% url 'books' %}">Назад </a></button>
        
    
</body>
</html>