{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/index.css' %}" />
    <title>Document</title>
</head>
<body> 
    <form action="(% url 'add-book' %)" method = "POST">
        {% csrf_token %}>
        <input class= "create_input" type="text" placeholder="Введите названия книги" 
        name = "title" /> <br>
        <input class= "create_input" type="text" placeholder="Подзаголовок"  
        name = "subtitle" />  <br>
        <input class= "create_input" type="text" placeholder="Введите описание" 
        name = "description" />  <br>
        <input class= "create_input" type="text" placeholder="Жанр" 
        name = "genre" />  <br>
        <input class= "create_input" type="text" placeholder="Автор" 
        name = "author" />  <br>
        <input class= "create_input" type="datetime-local" placeholder="Год выпуска" 
        name = "year" />  <br>
        <input class= "create_input" type="datetime-local" placeholder="Дата поиска" 
        name = "date" />  <br>
        <input class= "create_input" type="number" placeholder="Цена" 
        name = "price" />  <br>
        
        <button class= create_button> Добавить книгу</button>
    </form>
    <h1> books</h1>
    {% for books in books %}
    <div>
        <H3>{{books.title}}</H3>
        <H5>{{books.autor}}</H5>
        <p>{{books.price}} </p>
    </div> <hr>
    {% endfor %}
</body>
</html>